@import url('https://fonts.googleapis.com/css2?family=Be+Vietnam+Pro:wght@400;500;700&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Be Vietnam Pro', sans-serif;
}

body {   
    background-color: #f1f0f0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

h1 {
    color: #545454;
    margin-bottom: 20px;
    font-size: 25px;
    text-align: center;
}

.container {
    background: #fff;
    padding: 15px 30px;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

label {
    color: #545454;
    font-weight: bold;
    display: block;
    margin-top: 20px;
}

input {
    width: 100%;
    padding: 8px;
    margin: 5px 0;
    border: 1px solid #ccc;
    border-radius: 2px;
}

button {
    background-color: #453efa;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    margin-top: 10px;
}

button:hover {
    background-color: #1d17d0;
}

#resultado {
    margin-top: 20px;
    font-size: 20px;
    font-weight: bold;
    color: #333;
    text-align: center;
}

#resultado .senha {
    color: blue;
    font-weight: bold;
}
